
.icon-desktop:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-arrows-cw:before { content: '\e804'; } /* '' */
.icon-exchange:before { content: '\e805'; } /* '' */
.icon-phone-outline:before { content: '\e806'; } /* '' */
.icon-phone-1:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-star-filled:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e80c'; } /* '' */
.icon-eye-off:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-glass:before { content: '\e80f'; } /* '' */
.icon-archive:before { content: '\e810'; } /* '' */
.icon-folder-close:before { content: '\e811'; } /* '' */
.icon-folder-open:before { content: '\e812'; } /* '' */
.icon-suitcase:before { content: '\e813'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-instagram-2:before { content: '\f32d'; } /* '' */
